.game-board {
    width: 95%;
    max-width: 1024px;
    min-height: 95%;
    max-height: 768px;
    padding: 10px;
    margin: 10px;
    background-color: $grey-3;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    color: $white-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    &__question {
        width: 100%;
        text-align: center;
    }

    &__answers-table {
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__answer {
        width: 100%;
        min-height: 75px;
        border-radius: 25px;
        background-color: $violet-1;
        border: 2px solid $violet-2;
        box-shadow: 0 0 5px $violet-3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-1;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;

        input[type="radio"] {
            appearance: none;
        }

        &:hover {
            background-color: $violet-3;
        }

        &--active {
            background-color: $violet-3;
        }
    }

    button {
        width: 50%;
        min-height: 75px;
        border-radius: 50px;
        background-color: $white-2;
        font-size: 1.5rem;
        color: $grey-3;
        box-shadow: 0 0 2px $white-1;
        font-weight: bold;
        cursor: pointer;
        border: none;
        transition: 0.2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}
