.game-board {
    width: 95%;
    max-width: 1024px;
    min-height: 95%;
    // max-height: 768px;
    padding: 1.5rem 0.5rem;
    margin: 10px;
    background-color: $grey-3;
    border-radius: 15px;
    box-shadow: 0 0 5px black;
    color: $white-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 768px) {
        max-height: none;
        padding: 1rem 0.5rem;
    }

    h2 {
        margin: clamp(0.1rem, 2vh, 5rem);

        @media (orientation: landscape) {
            font-size: clamp(1rem, 2vw, 2rem);
        }

        @media (orientation: portrait) {
            font-size: clamp(1rem, 2vh, 2rem);
        }
    }

    &__question {
        width: 100%;
        text-align: center;
        padding: 1vh 0;
    }

    &__answers-table {
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: clamp(1rem, 2vh, 2rem);
    }

    &__answer {
        width: 100%;
        border-radius: 25px;
        background-color: $violet-1;
        border: 2px solid $violet-2;
        box-shadow: 0 0 5px $violet-3;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-1;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        @media (orientation: landscape) {
            font-size: clamp(0.8rem, 2vw, 1.5rem);
            height: clamp(2rem, 2vh, 5rem);
            @media (min-height: 768px) {
                height: clamp(2rem, 10vw, 5rem);
            }
        }

        @media (orientation: portrait) {
            font-size: clamp(0.8rem, 2vh, 2rem);
            height: clamp(2rem, 10vh, 10rem);
        }

        input[type="radio"] {
            appearance: none;
        }

        &:hover {
            transform: scale(1.02);
        }

        &--active {
            background-color: darken($violet-3, 2%);
            transform: scale(1.02);
        }
    }

    button.submit-button {
        width: clamp(2rem, 65vw, 10em);
        border-radius: 50px;
        background-color: $white-2;
        color: $grey-3;
        box-shadow: 0 0 2px $white-1;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.2s;

        @media (orientation: landscape) {
            font-size: clamp(1rem, 2vw, 1.5rem);
            height: clamp(2rem, 5vw, 5rem);
        }

        @media (orientation: portrait) {
            font-size: clamp(1rem, 2vh, 1.5rem);
            height: clamp(2rem, 8vh, 5rem);
        }

        @media (min-height: 768px) {
            margin-top: clamp(0.1rem, 2vh, 5rem);
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}
