$violet-1: #a269ff;
$violet-2: #9146ff;
$violet-3: #8331f5;

$white-1: #e9ebf0;
$white-2: #cbced4;

$grey-1: #6a6f76;
$grey-2: #5c6066;
$grey-3: #3c3f43;
$grey-4: #292d33;
$grey-5: #1a1d24;

$green-1: #27a12f;
$green-2: #007d0c;
$red-1: #d12f1d;
$red-2: #8a1200;
